* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('images/backgroundMA.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
}

/* Página LOGIN */
header {
    text-align: right;
    padding: 10px;
    color: #ffff;
}

.logo {
    float: left;
    width: 80px;
    position: relative;
    left: 5%;
}

#ahome {
    text-decoration: none;
    font-size: 25px;
    transition: all 0.5s;
}

#ahome:hover {
    color: red;
    font-size: 27px;
}

header p {
    color: white;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.painelogin {
    width: 60%;
    text-align: center;
    margin: 3% auto;
    padding: 1rem;
    border-width: 7px;
    border-style: solid;
    border-image: linear-gradient(to bottom, blue, rgb(255, 255, 255)) 1 100%;
}

.painelogin img {
    width: 30%;
    margin: 0;
}

.loginput {
    font-weight: bold;
    width: 50%;
    height: 40px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
}

.submit {
    color: white;
    background-color: green;
    width: 15%;
    margin: 5px 0;
    height: 30px;
    border-radius: 10px;
    transition: all 0.4s;
}

.submit:hover {
    width: 17%;
    background-color: rgb(0, 182, 0);
}

.log {
    color: black;
    width: 65%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 2% auto;
    background: #efefef;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.203);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
}

/* Página HOME */

audio {
    display: none;
}

.painelchamados {
    background: #efefef;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.203);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    margin: 0 10%;
    margin-bottom: 2%;
    padding: 2%;
    text-align: center;
    color: black;
}

.painelchamados p{
    margin: 0;
    font-weight: 500;
}

.inputchamado {
    border: 2px solid black;
    border-radius: 6px;
    margin: 2px;
    padding: 15px;
    height: 40px;
    width: 50%;
    color: black;
    background: transparent;
}

textarea {
    min-height: 80px;
}

.resolvidos{
    text-align: right;
}

footer {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0.1em 0.1em 0.1em black;
}

/* responsivo: */
@media screen and (max-width: 768px) {


    header p {
        font-size: 20px;
        margin-left: -25px;
    }

    /* Página LOGIN */
    .painelogin {
        width: 80%;
        height: 350px;
        margin: 10% auto;
    }

    .painelogin img {
        width: 50%;
    }

    /* h2 da pagina login */
    .log {
        width: 90% !important;
        font-size: 16px;
    }

    .loginput {
        width: 70%;
    }


    /* Página HOME */

    .painelchamados {
        width: 90%;
        margin: 20px auto;
    }

    .inputchamado {
        width: 90%;
    }

    .submit {
        width: 30%;
    }

    .submit:hover {
        width: 50%;
    }


}